// Widescreens
@include mediaXL {
  
}

// Desktops
@include mediaLg {
main{
  h1.lg-heading {
    font-size: 5rem;
  }
  h2.sm-heading{
    width: 60%;
  }
}
}

// Tablets
@include mediaMd {
  main{
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; 
    }

    h2.sm-heading{
      width: 100%
    }
  }

  ul.menu-nav, div.menu-branding{
    float: none;
    width: 100%;
    min-height: 0;

    &.show{
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding{
    height: 30vh;
    transform: translate3d(100%, 0, 0);

    .portrait{
      background: url('../img/myPicture_sm.jpg');
      width: 150px;
      height: 150px;;
    }
  }
}

// Phones
@include mediaSm {
  main#home h1{
    margin-top: 10vh;
  }
}