// Widescreens
@include mediaXL {
  .projects{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
}

// Desktops
@include mediaLg {

main{
  h1.lg-heading {
    font-size: 5rem;
  }
  h2.sm-heading{
    width: 60%;
  }
}
}

// Tablets
@include mediaMd {
  main{
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; 
    }

    h2.sm-heading{
      width: 100%
    }
  }

  ul.menu-nav, div.menu-branding{
    float: none;
    width: 100%;
    min-height: 0;

    &.show{
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding{
    height: 30vh;
    transform: translate3d(100%, 0, 0);

    .portrait{
      background: url('../img/myPicture_sm.jpg');
      width: 150px;
      height: 150px;;
    }
  }

  .about-info{
    grid-template-areas:
      'bioimage'
      'bio'
      'title'
      'job1'
      'job2'
      'job3';
    grid-template-columns: 1fr;
  }
  //Work.html projects
  .projects{
    grid-template-columns: 1fr 1fr;
  }
}

// Phones
@include mediaSm {
  body{
    &#bg-img{
      background: url(../img/background_sm.jpg);
      background-attachment: fixed;
      background-size: cover;
    }
    

  main{
    padding: 2rem;

    &#about, &#work, &#contact{
      padding-top: 4rem; 
    }

    &#homeh1{
      margin-top: 10vh;
    }

    h1.lg-heading{
      font-size: 4rem;
    }

    h2.sm-heading{
      font-size: 1.5rem;
    }

    .projects{
      grid-template-columns: 1fr;
    } 
    .boxes{
      div{
        font-size: 1.3rem;
        border: 2px #fff solid;
        padding: 1.5rem 1.5rem;
        margin-bottom: 3rem;
        width: 100%;
      }
    }
  }
}
}